/Trans/build/
/Trans/nbproject/private/
/1/nbproject/private/
/2/nbproject/private/
/1/build/
/Threads/nbproject/private/
/Threads/build/
/Servidor/build/
/Servidor/nbproject/private/
/Cliente/nbproject/private/
/Cliente/build/
/ClienteTest/nbproject/private/
/ServidorTest/nbproject/private/
/ServidorTest/build/
/ClienteTest/build/
/TransaccionBancaria/nbproject/private/
/TransaccionBancaria/build/
/ClienteBancario/nbproject/private/
/ClienteBancario/build/
/ServidorBancaria/nbproject/private/
/ServidorBancario/nbproject/private/
/ClienteDistribuido/nbproject/private/
/ClienteDistribuido/build/
/ServidorBancario/build/
/ServidorDistribuido/nbproject/private/
/ServidorDistribuido/build/